
@{
    ViewBag.Title = "Create";
}

<h2>Registrar Libro</h2>

<form action="/CRUD/Create" method="post">

    <label>Name</label> <br />
    <input name="Name" type="text" /><br />
    <label>Author</label> <br />
    <input name="Author" type="text" /><br />
    <label>Actors</label> <br />
    <input name="Actors" type="text" /><br />
    <label>Year</label> <br />
    <input name="year" type="text" /><br />
    <label>Synopsis</label> <br />
    <input name="Synopsis" type="text" /><br />
    <label>------------</label><br/>
    <input name="Send" type="submit" /><br />
</form>

@if(ViewBag.Data != null){

<p>
    <strong>Registrados</strong> <br />

    <table border="1">

        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Author</strong></td>
            <td><strong>Actors</strong></td>
            <td><strong>year</strong></td>
            <td><strong>Synopsis</strong></td>
        </tr>

        <tr>
            <td>@ViewBag.Data["Name"]</td>
            <td>@ViewBag.Data["Author"]</td>
            <td>@ViewBag.Data["Actors"]</td>
            <td>@ViewBag.Data["year"]</td>
            <td>@ViewBag.Data["Synopsis"]</td>
        </tr>

    </table>
</p>
 }

